<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @line_item.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @line_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @line_item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @line_item.price %>
</p>

<%= link_to 'Edit', edit_store_line_item_path(@line_item) %> |
<%= link_to 'Back', store_line_items_path %>
